<header>
  <div class="header-image-container">
    <img src="/benny.jpg" alt="Benny logo">
  </div>
  <h1 class="site-title"><a href="/">Benny's List</a></h1>
</header>

<main class="content">
  <aside class="filter-container">
    {{> filter}}
  </aside>

  <section id="posts">
    {{#each posts}}
      {{> post post=this}}
    {{/each}}
  </section>
</main>

{{> button buttonId="sell-something-button" buttonText="Sell Something"}}
</main> 
